<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <!-- Discord Log -->
  <springProperty name="DISCORD_WEBHOOK_URI" source="logging.discord.webhook-uri"/>
  <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
    <webhookUri>${DISCORD_WEBHOOK_URI}</webhookUri>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <!-- Console Appender -->
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <!--Discord Appender Of ERROR-->
  <appender name="ASYNC_DISCORD_ERROR" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="DISCORD" />
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <root level="INFO">
    <appender-ref ref="Console"/>
    <appender-ref ref="ASYNC_DISCORD_ERROR" />
  </root>
</configuration>